@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu+Mono');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.font-monospace {
  font-family: 'Ubuntu Mono', monospace;
}

.font-sans {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}
